<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log level （global default） -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- optional：set log level for specific package -->
    <logger name="com.yourcompany" level="DEBUG"/>

    <!-- optional：supress log for specific package -->
    <logger name="org.apache" level="WARN"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>

</configuration>
